:root {
  --branding-color: #005792;
  --accent-color: #fff3f5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--accent-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: #272142;
}

.btn-branding {
  background: var(--branding-color);
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--default-font-family);
}

.btn-branding-accent {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-family: var(--default-font-family);
}

.btn-branding-accent:hover {
  background: var(--branding-color);
  color: #fff;
  border-color: var(--branding-color);
}

.project-description {
  padding: 80px 20px;
}

.content-container {
  padding: 60px 20px;
}

.introduction {
  font-size: 64px;
  line-height: 80px;
}

.content-container h1 {
  font-size: 48px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  line-height: 1.5;
}

.portrait {
  border-radius: 10px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  font-family: var(--default-font-family);
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--accent-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  text-align: center;
  font-family: var(--default-font-family);
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--accent-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }
}
